body{background: #6c8bf3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #caa1a1, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5b5656, #4c6fe2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    position: relative;
    top: 20px;
    padding: 20px ;
    font-style: italic;
    color: lightblue
}
#won{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: red;
}
.game{
    background: lightblue;
    margin: 50px auto;
    width: 450px;
    height: 515px;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 441);
    padding: 1.5rem;  
}
.box{
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 75px;
    width: 67px;
}
  .reset{
    position: fixed;
    top: 80%;
    left: 50%;
    font-size: 30px;
    transform: translate(-59%);
    background-color: white;
    border-radius: 5px;
    color: black;
  }    
      
    