*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    position: relative;
    top: 20px;
    padding: 20px ;
    font-style: italic;
    color: lightblue
}
#won{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: red;
}
.game{
    background: lightblue;
    margin: 0 auto;
    width: 450px;
    height: 515px;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 441);
    padding: 1.5rem;  
}
.box{
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 75px;
    width: 67px;
}
  .reset{
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-59%);
    background-color: black;
    border-radius: 1px;
    color: white;
  }    
      
    